---
# Kubeconfig path for east site
kubeconfig: "{{ ansible_env.HOME }}/.kube/config"

# Namespace configuration
namespace_name: hello-world-east

# Installation configuration for Skupper
install_skupper_skupper_repository: 'https://github.com/skupperproject/skupper.git'
install_skupper_version: '2.0.0-preview-2'
install_skupper_skupper_release_name: skupper-setup
install_skupper_scope: namespace
install_skupper_namespace: "{{ namespace_prefix }}-{{ namespace_name }}"

# Deployment configuration for workload
deploy_workload_workload_image: "{{ skupper_test_image_hello_world_backend }}"
deploy_workload_deployment_name: "backend"
deploy_workload_replicas: 3

# Skupper site configuration
skupper_site_include_spec: false

# Expose connector configuration
create_connector_routing_key: backend
create_connector_metadata_name: backend
create_connector_port: 8080
create_connector_selector: app=backend
create_connector_state: present

# Access grant configuration
access_grant_name: hello-world-grant
access_grant_redemptions_allowed: 10
access_grant_expiration_window: 1h
access_grant_state: present

# Default variables for the link_site role
link_site_access_token_name: "access-token"
link_site_target_namespace: "default"
link_site_skip_listener_check: true
