---
# Kubeconfig path for west site
kubeconfig: /home/rzago/.kube/ocp-minikube

# Namespace configuration
namespace_name: hello-world-west

# Deployment configuration for workload
deploy_workload_workload_image: quay.io/skupper/hello-world-frontend:latest
deploy_workload_deployment_name: "frontend"

# Skupper site configuration
skupper_site_include_spec: true  # Include the `spec` section for the west site
skupper_site_link_access: allow  # Set linkAccess for west site
skupper_site_manifest_template: "collections/ansible_collections/rhsiqe/skupper/roles/skupper_site/templates/skupper-site.yml.j2"

# Installation configuration for Skupper
install_skupper_skupper_repository: 'https://github.com/skupperproject/skupper.git'
install_skupper_skupper_branch: 'v2'
install_skupper_skupper_controller_manifest: 'https://raw.githubusercontent.com/skupperproject/skupper/v2/cmd/controller/deploy_cluster_scope.yaml'
install_skupper_skupper_release_name: skupper-setup