# roles/install_skupper/tasks/main.yml
---
- name: Create a folder name for git under skupper_install_output_path
  ansible.builtin.set_fact:
    skupper_folder: "{{ skupper_install_output_path }}/{{ inventory_hostname }}-skupper"

- name: Clean Skupper temporary directory
  ansible.builtin.file:
    path: "{{ skupper_folder }}"
    state: absent
    force: true

- name: Clone Skupper repository
  ansible.builtin.git:
    repo: "{{ install_skupper_skupper_repository }}"
    dest: "{{ skupper_folder }}"
    version: "{{ install_skupper_skupper_branch }}"
    update: true

- name: Find CRDs in the directory
  ansible.builtin.find:
    paths: "{{ skupper_folder }}/api/types/crds/"
    patterns: "*.yaml"
  register: crd_files

- name: Debug CRDs found
  ansible.builtin.debug:
    var: crd_files.files

- name: Install Skupper by applying CRDs
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    src: "{{ item.path }}"
  loop: "{{ crd_files.files }}"
  loop_control:
    label: "{{ item.path }}"
  failed_when: false

- name: Clean up Skupper repository directory
  ansible.builtin.file:
    path: "{{ skupper_folder }}"
    state: absent
    force: true
  changed_when: false
